<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
  <div class="form-group">
    <label th:for="name">Username</label>
    <input class="form-control" th:field="${loginFormDTO.username}" />
    <span th:errors="${loginFormDTO.username}" class="error"></span>
  </div>

  <div class="form-group">
    <label th:for="password">Password</label>
    <input class="form-control" th:field="${loginFormDTO.password}" type="password" />
    <span th:errors="${loginFormDTO.password}" class="error"></span>
  </div>

  <input type="submit" value="Enter" />
</form>

<br>
<p><a href="/user/login">Existing user?</a></p>
<p><a href="/user/signup">Don't have an account?</a></p>

</body>
</html>